<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">  
        <link rel="stylesheet" href = "style.css"> 
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Shrikhand&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,800;1,400&family=Roboto:wght@700&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&family=Roboto:wght@700&display=swap" rel="stylesheet"> 
        <script src="https://kit.fontawesome.com/62ec86d023.js" crossorigin="anonymous"></script>
        <script type="text/javascript" src="script.js"></script>
    </head>
    
    <header>
        <div id="logoWrapper">
            <img id="logo" src="BBLogo.png">   
            <h3 id="bulletTitle">bulletbill</h3>
        </div>
        <!--<a href="/numPeople">Number of People Input</a>-->
        
        <title>Receipt Form</title>
        <h1 class="slogan">
            Split bills <br/> faster than <br/> a bullet
        </h1>
    </header>

    <body id = "grad">
        <form method="POST" action="/receipt-upload" enctype="multipart/form-data">
            <div>
                <input  id="upload" type="file" name="profile-file" style="display: none;" required/>
                <input type="button" class="browse" value="Select Receipt" onclick="document.getElementById('upload').click();" />
            </div>
            <div>
                <!--<input class="upload" type="submit" value="Upload" />-->
                <button id = "send" class="upload" disabled=true><i class="fa-solid fa-arrow-up"></i>  Upload</button>
            </div>
        </form>
    </body>
</html>