<!DOCTYPE html>
<html lang = "en">
    <head>
    
        <meta charset="UTF-8">
        <title>Receipt Form</title>
    
        <h1 class="slogan">
            Split bills <br/> quick and easy
        </h1>
        <script>
            let txt = document.getElementbyId("header");
            txt.style.textAlign = "center";
        </script>

        <!-- CSS (load bootstrap from a CDN) -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
        <style>
        body { padding-top:50px; padding-left:100px; padding-right:100px}
        x
        </style>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">  
    </head>

<style>
    .slogan {
        font-family: 'Roboto';
        font-size: 80px;
        color: #ffffff;
        text-align:left;
    }

    #grad {
        height: 100vh; 
        background: linear-gradient(to bottom right, rgb(63, 176, 211), rgb(73, 86, 201), rgb(169, 97, 252), rgb(240, 90, 220)); 
        background-size: 150% 150%;
        animation: gradient 10s ease infinite;
    }
    
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%
        }
        100% {
            background-position: 0% 50%;
        }
    }

</style>

<body id = "grad">
    <script>
        var myColor = "pink";
    </script>

    <form method="POST" action="/receipt-upload" enctype="multipart/form-data">
        <div>
            <label>Upload Receipt</label>
            <input type="file" name="profile-file" required/>
        </div>
        <div>
            <input type="submit" value="Upload" />
        </div>
    </form>

    <hr>
</body>
</html>