<!DOCTYPE html>
<head>
    <title>Receipt Form</title>
</head>
<body>
    <form method="POST" action="/receipt-upload" enctype="multipart/form-data">
        <div>
            <label>Upload Receipt</label>
            <input type="file" name="profile-file" required/>
        </div>
        <div>
            <input type="submit" value="Upload" />
        </div>
    </form>

    <hr>
</body>
</html>