<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">  
        <link rel="stylesheet" href = "style.css"> 
        <script src="https://kit.fontawesome.com/62ec86d023.js" crossorigin="anonymous"></script>

        <script>
            var blob = <%-blob%>;
        </script>
    </head>
    
    <header>
        <img id="logo" src="BBLogo.png">   
        <h2 id="bulletTitle">BulletBill</h2>

        <h2 id="people" style = "text-align:center; color: white">
            How many people are paying?
        </h2>
    </header>

    <body id = "grad">
        <form method="POST" action="/receipt-upload" enctype="multipart/form-data">
            <div>
                <input  id="number" type="text" name="How many people are paying?" placeholder = "Enter num 1-20" size=20 required/>
                <button class="go"><i class="fa-solid fa-arrow-right"></i>  Go </button>
            </div>
        </form>
    </body>
</html>