<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,800;1,400&family=Roboto:wght@700&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">  
        <link rel="stylesheet" href = "style.css"> 
        <script src="https://kit.fontawesome.com/62ec86d023.js" crossorigin="anonymous"></script>

        <script>
            var blob = <%-blob%>;

            function send(){
                var input = document.getElementById("number");
                var count = input.value;
                var url = document.baseURI;
                url = url.substring(0, url.indexOf("count")) + "results";
                url += "?count=" + count + "&blob=" + blob;
                location.href = url;
            }
        </script>
    </head>
    
    <header>
            <img id="logo" src="BBLogo.png">   
            <h3 id="bulletTitle">bulletbill</h3>

        <h2 id="people" style = "text-align:center; color: white">
            How many people are paying?
        </h2>
    </header>

    <body id = "grad">
        <form action="javascript:send()">
            <div>
                <input  id="number" type="number" name="How many people are paying?" placeholder = "Enter num 1-20" size=20 required/>
                <button id="go" class="go"><i class="fa-solid fa-arrow-right"></i>  Go </button>
            </div>
        </form>
    </body>
</html>