
.slogan {
    font-family: 'Roboto';
    font-size: 75px;
    color: rgba(255, 255, 255, 0.70);
    text-align: center;
    
}

.logo {
    color: rgba(255, 255, 255, 0.70);
    text-align: left;
}

.browse {
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    border-radius: 16px;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    border-style: none;
    margin-bottom: 1.5%;
    transition: background 0.3s ease-in-out;
}
.browse:hover{
    background-color: rgba(255, 255, 255, 0.5);
}
.upload {
    background-color: white;
    color: black;
    mix-blend-mode: screen;
    border-radius: 16px;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-style: none;
    transition: background 0.3s ease-in-out;
}

.upload:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

body{
    text-align: center;
}

#grad {
    height: 100vh; 
    background: linear-gradient(to bottom right, rgb(63, 176, 211), rgb(73, 86, 201), rgb(169, 97, 252), rgb(240, 90, 220)); 
    background-size: 150% 150%;
    animation: gradient 10s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%;
    }
}