/* big page*/
@media (min-width: 420px) {
    .slogan {
        font-family: 'Roboto';
        font-size: 70px;
        color: rgba(255, 255, 255, 0.80);
        text-align: center;
        padding-top: 30px;
    }
    
    .browse {
        background-color: rgba(255, 255, 255, 0.3);
        color: white;
        border-radius: 16px;
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 0.5%;
        padding-bottom: 0.5%;
        border-style: none;
        margin-bottom: 1.5%;
        transition: background 0.3s ease-in-out;
    }

    #people {
        text-align:center;
        color: white;
    }

    #logo {
        display: inline-block;
        height: 75px;
        width: 96px;
        position: absolute;
        top: 16px;
        left: 15px;
    }
    
    #bulletTitle{
        color: white;
        text-align: left; 
        /*text-decoration: overline; */
        font-family: 'EB Garamond';
        font-weight: 800;
        padding-top: 30px; 
        display: inline-block;
        position: absolute;
        top: 1px;
        left: 85px;
    } 
}

/* small page*/
@media(max-width: 420px) {
    .slogan {
        font-family: 'Roboto';
        font-size: 30px;
        color: rgba(255, 255, 255, 0.8);
        text-align: center;
        padding-top: 20px;
    }

    .browse {
        background-color: rgba(255, 255, 255, 0.3);
        font-size: 50%;
        color: white;
        border-radius: 16px;
        padding-left: 7%;
        padding-right: 7%;
        padding-top: 2%;
        padding-bottom: 2%;
        border-style: none;
        margin-bottom: 1%;
        transition: background 0.3s ease-in-out;
    }
    #send {
        font-size: 60%;
        color: black;
        mix-blend-mode: screen;
        border-radius: 16px;
        padding-left: 8%;
        padding-right: 8%;
        padding-top: 2%;
        padding-bottom: 2%;
        border-style: none;
        transition: background 0.3s ease-in-out;
    }

    #people {
        text-align:center;
        color: white;
        font-size: 80%;
    }

    #logo {
        display: inline-block;
        height: 37.5px;
        width: 48px;
        position: absolute;
        top: 2%;
        left: 3.5%;
    }
    
    #bulletTitle{
        color: white;
        text-align: left; 
        /*text-decoration: overline; */
        font-family: 'EB Garamond';
        font-weight: 800;
        font-size: 120%;
        padding-top: 5%; 
        display: inline-block;
        position: absolute;
        top: 0.15%;
        left: 14%;
    }
}

#number {
    background-color: rgba(255, 255, 255, 0.3);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
    box-shadow: none;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 0.5%;
    margin-top: 2%;
    color: white;
}

#number::placeholder {
    color: rgba(255, 255, 255, 0.356);
}

.browse:hover{
    background-color: rgba(255, 255, 255, 0.5);
}
.upload {
    background-color: white;
    color: black;
    mix-blend-mode: screen;
    border-radius: 16px;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-style: none;
    transition: background 0.3s ease-in-out;
}

.go {
    background-color: white;
    color: black;

    mix-blend-mode: screen;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-left: 0.5%;
    padding-right: 0.5%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    border-style: none;
    transition: background 0.3s ease-in-out;
}
#venmo{
    background-color: rgba(0, 0, 0, 0.3);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
    box-shadow: none;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
    color: white;
    position: relative;
    bottom: 8%;
}
#venmo::placeholder{
    color: rgba(255, 255, 255, 0.356);
}

#continue {
    background-color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: black;
    mix-blend-mode: screen;
    padding-left: 0.5%;
    padding-right: 0.5%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    border-style: none;
    transition: background 0.3s ease-in-out;
    position: relative;
        bottom: 8%
}
.upload:hover {
    background-color: rgba(255, 255, 255, 0.596);
}

.upload:disabled{
    background-color: rgba(194, 194, 194, 0.7);
}

.disabled {
    background-color: rgba(194, 194, 194, 0.7);
}

body{
    padding-top: 150px;
    text-align: center;
}

table, th, td {
    border: 1px solid;
}

table {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-weight: 25%;
    font-family: "Roboto";
    margin-bottom: 5%;
    background-color: rgba(255,255,255,0.2);
}

#items {
    width: 60%
}

#itemhead{
    background-color: #55608f;
}

#items th:hover{
    background-color: rgba(255,255,255,0.3);
}

.dropDown {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    border: none;
    box-shadow: none;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    color: white;
}

.pnumInput {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    border: none;
    box-shadow: none;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    color: white;
}


#pnumbers thead tr{
    background-color: #55608f;
}

#pnumbers tbody tr th:hover{
    background-color: rgba(255,255,255,0.3);
}

.pnumInput::placeholder {
    color: rgba(255, 255, 255, 0.356);
}

#grad {
    height: 100vh; 
    background: linear-gradient(to bottom right, rgb(63, 176, 211), rgb(73, 86, 201), rgb(169, 97, 252), rgb(240, 90, 220)); 
    background-size: 150% 150%;
    animation: gradient 10s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%;
    }
}